/node_modules
/public/hot
/public/storage
/public/vendor
/public/build
/public/js/admin.js
/public/js/app.js
/storage/*.key
/storage/debugbar
/vendor
.env*
!.env.example
.phpunit.result.cache
.phpunit.cache
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/media-library/
/.fleet
/.idea
/.vscode
TODO.md
.php-cs-fixer.dist.php
