image: lorisleiva/laravel-docker:latest

stages:
  - build
  - deploy

variables:
  DEPLOY_PATH: "/home/ubuntu/stage/src/backend"
  SSH_PRIVATE_KEY: $GUAPA_STG_PRIVATE_KEY
  SSH_USER: ubuntu
  SSH_HOST: 3.67.253.208
  BRANCH_NAME: $CI_COMMIT_REF_NAME

before_script:
  - apt-get update -yqq
  - apt-get install -yqq git curl openssh-client unzip
  - curl -sS https://getcomposer.org/installer | php
  - mv composer.phar /usr/local/bin/composer

build:
  stage: build
  script:
    - composer update
    - composer install
    - npm install
    - npm run prod

deploy:
  stage: deploy
  environment:
    name: staging
    url: https://stage.guapa.com.sa/
  script:
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan $SSH_HOST >> ~/.ssh/known_hosts
    - ssh $SSH_USER@$SSH_HOST
  only:
    - staging