/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/media-library/
public/js/admin.js
public/js/app.js
/public/build
.env.production
/.fleet
/.idea
/.vscode
TODO.md
