image: alpine:latest

stages:
  - deploy-prod1
  - deploy-prod2

variables:
  SSH_USER_PROD1: ubuntu
  SSH_USER_PROD2: opc
  SSH_HOST_PROD1: 84.8.110.164
  SSH_HOST_PROD2: 84.8.109.10
  BRANCH_NAME: $CI_COMMIT_REF_NAME

deploy-prod1:
  stage: deploy-prod1
  environment:
    name: prod1
    url: https://guapa.com.sa/  # Update with your actual PROD1 URL
  before_script:
    - apk add --no-cache openssh-client
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$DEPLOY_PRIVATE_KEY" > ~/.ssh/id_ed25519
    - chmod 600 ~/.ssh/id_ed25519
    - echo "$DEPLOY_PUBLIC_KEY" > ~/.ssh/id_ed25519.pub
    - ssh-keyscan $SSH_HOST_PROD1 >> ~/.ssh/known_hosts
  script:
    - |
      ssh -o BatchMode=yes $SSH_USER_PROD1@$SSH_HOST_PROD1 /bin/bash << 'EOF'
      cd /home/ubuntu/stage/src/backend  # Update with your actual PROD1 path
      git switch production
      git reset --hard HEAD
      git clean -fd
      git pull origin production -X theirs --no-edit
      cd /home/ubuntu/stage  # Update with your actual PROD1 path
      sudo docker-compose up -d --build
      EOF
  only:
    - production

deploy-prod2:
  stage: deploy-prod2
  environment:
    name: prod2
    url: https://guapa.com.sa/  # Update with your actual PROD2 URL
  before_script:
    - apk add --no-cache openssh-client
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$DEPLOY_PRIVATE_KEY" > ~/.ssh/id_ed25519
    - chmod 600 ~/.ssh/id_ed25519
    - echo "$DEPLOY_PUBLIC_KEY" > ~/.ssh/id_ed25519.pub
    - ssh-keyscan $SSH_HOST_PROD2 >> ~/.ssh/known_hosts
  script:
    - |
      ssh -o BatchMode=yes $SSH_USER_PROD2@$SSH_HOST_PROD2 /bin/bash << 'EOF'
      cd /home/opc/Prod/stage/src/backend  # Update with your actual PROD2 path
      git switch production
      git reset --hard HEAD
      git clean -fd
      git pull origin production -X theirs --no-edit
      cd /home/opc/Prod/stage  # Update with your actual PROD2 path
      sudo docker compose up -d --build
      EOF
  only:
    - production