openapi: 3.0.3
info:
    title: 'Cosmo API Docs'
    description: ''
    version: 1.0.0
servers:
    -
        url: 'http://guapa.com.sa'
paths:
    /api/v1/addresses:
        get:
            summary: 'Address list'
            description: ''
            parameters:
                -
                    in: query
                    name: addressable_id
                    description: 'Addressable entity id.'
                    example: 3
                    required: true
                    schema:
                        type: integer
                        description: 'Addressable entity id.'
                        example: 3
                -
                    in: query
                    name: addressable_type
                    description: 'Addressable entity type (vendor, user).'
                    example: vendor
                    required: true
                    schema:
                        type: string
                        description: 'Addressable entity type (vendor, user).'
                        example: vendor
                -
                    in: header
                    name: Authorization
                    description: ''
                    example: 'Bearer {YOUR_AUTH_KEY}'
                    schema:
                        type: string
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                401:
                    description: '401, Unauthenticated'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: Unauthenticated.
                                properties:
                                    message: { type: string, example: Unauthenticated. }
                422:
                    description: '422, Validation errors'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'The given data was invalid.'
                                    errors: { firstname: ['The firstname field is required.'], email: ['The email has already been taken.'], phone: ['The phone has already been taken.'] }
                                properties:
                                    message: { type: string, example: 'The given data was invalid.' }
                                    errors: { type: object, example: { firstname: ['The firstname field is required.'], email: ['The email has already been taken.'], phone: ['The phone has already been taken.'] } }
            tags:
                - Addresses
        post:
            summary: 'Create Address'
            description: ''
            parameters:
                -
                    in: header
                    name: Authorization
                    description: ''
                    example: 'Bearer {YOUR_AUTH_KEY}'
                    schema:
                        type: string
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                401:
                    description: '401, Unauthenticated'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: Unauthenticated.
                                properties:
                                    message: { type: string, example: Unauthenticated. }
                422:
                    description: '422, Validation errors'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'The given data was invalid.'
                                    errors: { firstname: ['The firstname field is required.'], email: ['The email has already been taken.'], phone: ['The phone has already been taken.'] }
                                properties:
                                    message: { type: string, example: 'The given data was invalid.' }
                                    errors: { type: object, example: { firstname: ['The firstname field is required.'], email: ['The email has already been taken.'], phone: ['The phone has already been taken.'] } }
            tags:
                - Addresses
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                title:
                                    type: string
                                    description: ''
                                    example: quos
                                addressable_type:
                                    type: string
                                    description: 'The value must be one of <code>vendor</code> or <code>user</code>.'
                                    example: user
                                addressable_id:
                                    type: integer
                                    description: ''
                                    example: 10
                                city_id:
                                    type: integer
                                    description: ''
                                    example: 12
                                address_1:
                                    type: string
                                    description: ''
                                    example: ut
                                address_2:
                                    type: string
                                    description: ''
                                    example: rerum
                                postal_code:
                                    type: string
                                    description: ''
                                    example: voluptas
                                lat:
                                    type: number
                                    description: ''
                                    example: 47.164301
                                lng:
                                    type: number
                                    description: ''
                                    example: 7789.9
                                type:
                                    type: integer
                                    description: 'The value must be one of <code>1</code>, <code>2</code>, <code>3</code>, <code>4</code>, <code>5</code>, <code>6</code>, or <code>7</code>.'
                                    example: 1
                                phone:
                                    type: string
                                    description: ''
                                    example: distinctio
                            required:
                                - addressable_type
                                - addressable_id
                                - city_id
                                - address_1
                                - type
    '/api/v1/addresses/{id}':
        put:
            summary: 'Update Address'
            description: ''
            parameters:
                -
                    in: header
                    name: Authorization
                    description: ''
                    example: 'Bearer {YOUR_AUTH_KEY}'
                    schema:
                        type: string
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                401:
                    description: '401, Unauthenticated'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: Unauthenticated.
                                properties:
                                    message: { type: string, example: Unauthenticated. }
                422:
                    description: '422, Validation errors'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'The given data was invalid.'
                                    errors: { firstname: ['The firstname field is required.'], email: ['The email has already been taken.'], phone: ['The phone has already been taken.'] }
                                properties:
                                    message: { type: string, example: 'The given data was invalid.' }
                                    errors: { type: object, example: { firstname: ['The firstname field is required.'], email: ['The email has already been taken.'], phone: ['The phone has already been taken.'] } }
                404:
                    description: '404, Not found'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n    \"message\": \"Not found message\",\n}"
            tags:
                - Addresses
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                title:
                                    type: string
                                    description: ''
                                    example: distinctio
                                addressable_type:
                                    type: string
                                    description: 'The value must be one of <code>vendor</code> or <code>user</code>.'
                                    example: vendor
                                addressable_id:
                                    type: integer
                                    description: ''
                                    example: 13
                                city_id:
                                    type: integer
                                    description: ''
                                    example: 15
                                address_1:
                                    type: string
                                    description: ''
                                    example: ab
                                address_2:
                                    type: string
                                    description: ''
                                    example: mollitia
                                postal_code:
                                    type: string
                                    description: ''
                                    example: quis
                                lat:
                                    type: number
                                    description: ''
                                    example: 2568.40722673
                                lng:
                                    type: number
                                    description: ''
                                    example: 2226.0576618
                                type:
                                    type: integer
                                    description: 'The value must be one of <code>1</code>, <code>2</code>, <code>3</code>, <code>4</code>, <code>5</code>, <code>6</code>, or <code>7</code>.'
                                    example: 5
                                phone:
                                    type: string
                                    description: ''
                                    example: rerum
                            required:
                                - addressable_type
                                - addressable_id
                                - city_id
                                - address_1
                                - type
        delete:
            summary: 'Delete Address'
            description: ''
            parameters:
                -
                    in: header
                    name: Authorization
                    description: ''
                    example: 'Bearer {YOUR_AUTH_KEY}'
                    schema:
                        type: string
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                401:
                    description: '401, Unauthenticated'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: Unauthenticated.
                                properties:
                                    message: { type: string, example: Unauthenticated. }
                404:
                    description: '404, Not found'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n    \"message\": \"Not found message\",\n}"
            tags:
                - Addresses
        parameters:
            -
                in: path
                name: id
                description: 'Address id.'
                example: 3
                required: true
                schema:
                    type: integer
    /api/v1/auth/register:
        post:
            summary: Signup
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    token: { token_type: Bearer, expires_in: 31536000, access_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIyIiwianRpIjoiMTJiZmUxYWM4ZmY0YzhjOWZmNjhhZDJlYTAxZGRkMzQ3YjM0YzViZjQyNDc5NTQ5MjAwMDhjOTI4ZGEwYTlhZmI4OTg1M2U0N2Y3MzQxMTkiLCJpYXQiOjE2MDcyNzk4NzEsIm5iZiI6MTYwNzI3OTg3MSwiZXhwIjoxNjM4ODE1ODcxLCJzdWIiOiIxMiIsInNjb3BlcyI6WyIqIl19.OeVAZ6oN0Eat_pm1oT-ZCYq4fyAnjOPMJ9WtFIl9mkZdiVtQC-5Dz_-sRVdXEhRzU4Zjf6qxpSlPjJb5NmPaEoHfLQHaFEStdBXwuWi9PdRCTLmBvP51UT-fTSpMXQC0CIQTAQb7KeHjhdhW4TX2BKimvMjPeqBGDfxHai71gMEMKGLW7BcYETWEFTdA8MCc9FdalBuJqqtfoa2U90QZxR-1HGqq5Pbl9-O3xv45fBBR3TDFm9f5JbBcA6pSbFbIbwOk_kZN5BGCYEBR3Lh1ILSGnuz-qjQjrD5E2Qio4ji51L7bzRRGM-pTgTtCDORKtiC4xUHyCcZ3g6V801tUUibRYTOQK3DBxuGy10ynCC9imRYbvTyLZR7YIPrAG7uLhcX2CLoOaRfcoal1Vqv0pJYztAPgYNDtogtLGtS4nwy3bxXYYEiaHdwGb3MYhhL1Cpqceb_TrK7qKx77HanWx_PkBfbshmWj7H4Qn5AyW02kE1yLWoWAwWN_7aCvnkLbzalAD2NQWXeyP7pTWroLBcD8pO0zY4CBlsjWpkowsjWTbEE94KwDRqeytq2mDg5QcjnnIg71JkjbhwnDH3_T8PbUbrf7rg2kRsICpk3VWabrlGyy_uMr2UadCcOJ071_fXuZwPDiEfGoW6ULboYH5SzpKuxbXLLBCMBTRZJ7Usg, refresh_token: def50200fe7589a6f46245350858d0f8d520840b38d9c12186616f99a00b60b30cd226351066ee2580b34a0862fe99e660615c98be83f9a168d6be1a14a33aea9046af0245151b88c59dabf52d4bd6a5caeaefbd259abd363dc3cfe8b73a2b05dc133a82a799e5c91cc477a2274e89b3dd91840fe34de6928d22641ee64b685f021b99999ffdd3bf06384db87b64b4bfb84d7c38e75d2f389adf2d63fa7a4ee64669e9e686beca715b0dd279bbf366158123d416bc4fbd3c91e95b132550b5819b7aa25f6cfbe8b41de5bd386216414f3d8a3d6ce00cfdcb29651608ef8238bbc18335d433f4cfa16faf00794f67899b152fbe11182370e296cd6d07524c591428e27545f3b0da9baa04256055752ff9a4ffcdf3248e5765754cbf7faff49ad593210eb4613eefaa7e9462b848e53534c67da60334a0d9358ea86df9b9643984de4c975aed207d073673ec0e588b62ee7b36e61bc38ed07a6382c32cc779c43b279480b35e }
                                    user: { name: 'Mohamed Hamed', email: m.hamed2@nezam.io, phone: '+201064931595', updated_at: '2020-12-06T18:37:51.000000Z', created_at: '2020-12-06T18:37:50.000000Z', id: 12, role: [patient], profile: { user_id: 12, firstname: Mohamed, lastname: Hamed, updated_at: '2020-12-06T18:37:50.000000Z', created_at: '2020-12-06T18:37:50.000000Z', id: 8 } }
                                properties:
                                    token: { type: object, example: { token_type: Bearer, expires_in: 31536000, access_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIyIiwianRpIjoiMTJiZmUxYWM4ZmY0YzhjOWZmNjhhZDJlYTAxZGRkMzQ3YjM0YzViZjQyNDc5NTQ5MjAwMDhjOTI4ZGEwYTlhZmI4OTg1M2U0N2Y3MzQxMTkiLCJpYXQiOjE2MDcyNzk4NzEsIm5iZiI6MTYwNzI3OTg3MSwiZXhwIjoxNjM4ODE1ODcxLCJzdWIiOiIxMiIsInNjb3BlcyI6WyIqIl19.OeVAZ6oN0Eat_pm1oT-ZCYq4fyAnjOPMJ9WtFIl9mkZdiVtQC-5Dz_-sRVdXEhRzU4Zjf6qxpSlPjJb5NmPaEoHfLQHaFEStdBXwuWi9PdRCTLmBvP51UT-fTSpMXQC0CIQTAQb7KeHjhdhW4TX2BKimvMjPeqBGDfxHai71gMEMKGLW7BcYETWEFTdA8MCc9FdalBuJqqtfoa2U90QZxR-1HGqq5Pbl9-O3xv45fBBR3TDFm9f5JbBcA6pSbFbIbwOk_kZN5BGCYEBR3Lh1ILSGnuz-qjQjrD5E2Qio4ji51L7bzRRGM-pTgTtCDORKtiC4xUHyCcZ3g6V801tUUibRYTOQK3DBxuGy10ynCC9imRYbvTyLZR7YIPrAG7uLhcX2CLoOaRfcoal1Vqv0pJYztAPgYNDtogtLGtS4nwy3bxXYYEiaHdwGb3MYhhL1Cpqceb_TrK7qKx77HanWx_PkBfbshmWj7H4Qn5AyW02kE1yLWoWAwWN_7aCvnkLbzalAD2NQWXeyP7pTWroLBcD8pO0zY4CBlsjWpkowsjWTbEE94KwDRqeytq2mDg5QcjnnIg71JkjbhwnDH3_T8PbUbrf7rg2kRsICpk3VWabrlGyy_uMr2UadCcOJ071_fXuZwPDiEfGoW6ULboYH5SzpKuxbXLLBCMBTRZJ7Usg, refresh_token: def50200fe7589a6f46245350858d0f8d520840b38d9c12186616f99a00b60b30cd226351066ee2580b34a0862fe99e660615c98be83f9a168d6be1a14a33aea9046af0245151b88c59dabf52d4bd6a5caeaefbd259abd363dc3cfe8b73a2b05dc133a82a799e5c91cc477a2274e89b3dd91840fe34de6928d22641ee64b685f021b99999ffdd3bf06384db87b64b4bfb84d7c38e75d2f389adf2d63fa7a4ee64669e9e686beca715b0dd279bbf366158123d416bc4fbd3c91e95b132550b5819b7aa25f6cfbe8b41de5bd386216414f3d8a3d6ce00cfdcb29651608ef8238bbc18335d433f4cfa16faf00794f67899b152fbe11182370e296cd6d07524c591428e27545f3b0da9baa04256055752ff9a4ffcdf3248e5765754cbf7faff49ad593210eb4613eefaa7e9462b848e53534c67da60334a0d9358ea86df9b9643984de4c975aed207d073673ec0e588b62ee7b36e61bc38ed07a6382c32cc779c43b279480b35e } }
                                    user: { type: object, example: { name: 'Mohamed Hamed', email: m.hamed2@nezam.io, phone: '+201064931595', updated_at: '2020-12-06T18:37:51.000000Z', created_at: '2020-12-06T18:37:50.000000Z', id: 12, role: [patient], profile: { user_id: 12, firstname: Mohamed, lastname: Hamed, updated_at: '2020-12-06T18:37:50.000000Z', created_at: '2020-12-06T18:37:50.000000Z', id: 8 } } }
                422:
                    description: '422, Validation errors'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'The given data was invalid.'
                                    errors: { firstname: ['The firstname field is required.'], email: ['The email has already been taken.'], phone: ['The phone has already been taken.'] }
                                properties:
                                    message: { type: string, example: 'The given data was invalid.' }
                                    errors: { type: object, example: { firstname: ['The firstname field is required.'], email: ['The email has already been taken.'], phone: ['The phone has already been taken.'] } }
            tags:
                - Authentication
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                name:
                                    type: string
                                    description: 'Full name (required if firstname is absent).'
                                    example: 'Mohamed Ahmed'
                                firstname:
                                    type: string
                                    description: 'First name (required if name is absent).'
                                    example: Mohamed
                                lastname:
                                    type: string
                                    description: 'Last name (required if name is absent).'
                                    example: Ahmed
                                email:
                                    type: string
                                    description: 'Email address.'
                                    example: user@example.com
                                phone:
                                    type: string
                                    description: 'Phone number with country code.'
                                    example: '+201065987456'
                                firebase_jwt_token:
                                    type: string
                                    description: 'JWT token returned from firebase (optional), required to verify phone and use it for login.'
                                    example: minus
                                otp:
                                    type: string
                                    description: ''
                                    example: esse
                                password:
                                    type: string
                                    description: Password.
                                    example: '445566332255'
                                password_confirmation:
                                    type: string
                                    description: 'Password confirmation. Example 445566332255'
                                    example: et
                            required:
                                - phone
                                - otp
                                - password
                                - password_confirmation
            security: []
    /api/v1/auth/login:
        post:
            summary: Login
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    token: { token_type: Bearer, expires_in: 31536000, access_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIyIiwianRpIjoiYzMzNTc2ZDYxNzM0M2ZlYmU2OTZkYjE1ZWMzYTRhNjE0ZGJjNGI4ZDQ4MDFjNTU5NmIwYTIyY2UyNTE3Mzg0MDQwNGUxNzM5YmE5NTNhYjAiLCJpYXQiOjE2MDcyODAzNzksIm5iZiI6MTYwNzI4MDM3OSwiZXhwIjoxNjM4ODE2Mzc5LCJzdWIiOiI5Iiwic2NvcGVzIjpbIioiXX0.lhYW5Fjl6TE4jhG8eNG6CxXAEBfl_FeSeCCytqfCK4OEwn2RkVBZMqgRTgAzeayuL_4GeN9rtDC-o4q2Mdutx5m1VKPrV0Jl9X-ec9moH9POfUZPI8a9pj7bANYfrrRy7_htNuIHCXVpUGhVdTqCxWk_iDOJZgxzgf5kf2wfLFZWoqMoEc8-hnuFpxo8Y4WHqEe7-RWDQK2CyVXyKKEVjPAI-yjnQ8Cq0Fw3it_-_3y62Jrd-htGEkC2FUdrDPEjc7YEy8EuJHmY21tKZxypHcKiO6F72nxJJwJyukE6Hx390BaIFsy3uoMaHoPjoNF11xqSffAPKahHeueiLapYTUTqjbZBRFotZ5Lo-2hcne_kcW4SqS6qCdlv-yPQsah5K0TymOSl9_kSLcMS6RhXW6mzdXKbLzYme723yv7d3QCxqnwB0emcuL1r_quIipP7_KVKHLqN1lGtA-j5r1qlA-OJjn0O8xBCgcC57Gu_5w1e60F441T4GJjEPtri6K22gVTBntgXfb-9rQe2GYrJOGs3ydcBWB8AZq1m5ZI8gymoSIzib4qBlQFUrdjOEPQDmHmTPvpuZs1X0XnKJTEZWpv-T0mdFNrZtVN0N5_pNBu2rioASLEOlffPGNM1v8z4fspPkn1JbW9m6WGiNggSzGjgYTRQXkw7gYuwNlOuTm0, refresh_token: def5020040ea60cf608169383b65234f02e65e41406e5a7c57d3f733b59053f8f08ecc3470acec16f4a17819bf45c01eac21e82aba35d305ee0f1b7cb8a4b268bf6942425529b75fc8714159f2bbb9f34d8e6deb378caa6b579f2aace3f1966fd48d329a8dc0a68683ed2ac139d38240807fc2814fc4b2864412f357421cd694c6ddac842e44021ec02c164b198406ee6dddbeca7bb07a2d0ef334ef6c4171c65e36dbcb119726d0b6b7a89f5c53d4d6dff75b75aabe1ef860c1b62a41a3b8d0b9252792db63b36fc1952afc007a6684b0e9db5fd1575c2408343123a4bbc4737c39343775cd900d28da406037e0fc1d72636abe29490cda56771c1038cbb4dc3ff3a01dcd7c354835c9b81c9376a88fbcf3f825a457902ca946514b5b83b8e7586e90bd807e2708536fba69cd46768a14056ba89376e8c5fca0666b6622268afb2190ad5793d3ac6eaca23c21e683721ff06c3e6576b27ad036f6d79c8f9371b263a02d }
                                    user: { id: 9, name: Hamedov, email: m.hamed@nezam.io, phone: '+201064931597', email_verified_at: null, status: Active, created_at: '2020-10-30T18:16:10.000000Z', updated_at: '2020-10-30T18:16:10.000000Z', role: [] }
                                properties:
                                    token: { type: object, example: { token_type: Bearer, expires_in: 31536000, access_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIyIiwianRpIjoiYzMzNTc2ZDYxNzM0M2ZlYmU2OTZkYjE1ZWMzYTRhNjE0ZGJjNGI4ZDQ4MDFjNTU5NmIwYTIyY2UyNTE3Mzg0MDQwNGUxNzM5YmE5NTNhYjAiLCJpYXQiOjE2MDcyODAzNzksIm5iZiI6MTYwNzI4MDM3OSwiZXhwIjoxNjM4ODE2Mzc5LCJzdWIiOiI5Iiwic2NvcGVzIjpbIioiXX0.lhYW5Fjl6TE4jhG8eNG6CxXAEBfl_FeSeCCytqfCK4OEwn2RkVBZMqgRTgAzeayuL_4GeN9rtDC-o4q2Mdutx5m1VKPrV0Jl9X-ec9moH9POfUZPI8a9pj7bANYfrrRy7_htNuIHCXVpUGhVdTqCxWk_iDOJZgxzgf5kf2wfLFZWoqMoEc8-hnuFpxo8Y4WHqEe7-RWDQK2CyVXyKKEVjPAI-yjnQ8Cq0Fw3it_-_3y62Jrd-htGEkC2FUdrDPEjc7YEy8EuJHmY21tKZxypHcKiO6F72nxJJwJyukE6Hx390BaIFsy3uoMaHoPjoNF11xqSffAPKahHeueiLapYTUTqjbZBRFotZ5Lo-2hcne_kcW4SqS6qCdlv-yPQsah5K0TymOSl9_kSLcMS6RhXW6mzdXKbLzYme723yv7d3QCxqnwB0emcuL1r_quIipP7_KVKHLqN1lGtA-j5r1qlA-OJjn0O8xBCgcC57Gu_5w1e60F441T4GJjEPtri6K22gVTBntgXfb-9rQe2GYrJOGs3ydcBWB8AZq1m5ZI8gymoSIzib4qBlQFUrdjOEPQDmHmTPvpuZs1X0XnKJTEZWpv-T0mdFNrZtVN0N5_pNBu2rioASLEOlffPGNM1v8z4fspPkn1JbW9m6WGiNggSzGjgYTRQXkw7gYuwNlOuTm0, refresh_token: def5020040ea60cf608169383b65234f02e65e41406e5a7c57d3f733b59053f8f08ecc3470acec16f4a17819bf45c01eac21e82aba35d305ee0f1b7cb8a4b268bf6942425529b75fc8714159f2bbb9f34d8e6deb378caa6b579f2aace3f1966fd48d329a8dc0a68683ed2ac139d38240807fc2814fc4b2864412f357421cd694c6ddac842e44021ec02c164b198406ee6dddbeca7bb07a2d0ef334ef6c4171c65e36dbcb119726d0b6b7a89f5c53d4d6dff75b75aabe1ef860c1b62a41a3b8d0b9252792db63b36fc1952afc007a6684b0e9db5fd1575c2408343123a4bbc4737c39343775cd900d28da406037e0fc1d72636abe29490cda56771c1038cbb4dc3ff3a01dcd7c354835c9b81c9376a88fbcf3f825a457902ca946514b5b83b8e7586e90bd807e2708536fba69cd46768a14056ba89376e8c5fca0666b6622268afb2190ad5793d3ac6eaca23c21e683721ff06c3e6576b27ad036f6d79c8f9371b263a02d } }
                                    user: { type: object, example: { id: 9, name: Hamedov, email: m.hamed@nezam.io, phone: '+201064931597', email_verified_at: null, status: Active, created_at: '2020-10-30T18:16:10.000000Z', updated_at: '2020-10-30T18:16:10.000000Z', role: [] } }
                422:
                    description: '422, Validation errors'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'The given data was invalid.'
                                    errors: { firstname: ['The firstname field is required.'], email: ['The email has already been taken.'], phone: ['The phone has already been taken.'] }
                                properties:
                                    message: { type: string, example: 'The given data was invalid.' }
                                    errors: { type: object, example: { firstname: ['The firstname field is required.'], email: ['The email has already been taken.'], phone: ['The phone has already been taken.'] } }
                401:
                    description: '401, Phone not verified'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'Your phone number is not verified. Please verify your phone number or login using email address.'
                                    phone_verified: false
                                properties:
                                    message: { type: string, example: 'Your phone number is not verified. Please verify your phone number or login using email address.' }
                                    phone_verified: { type: boolean, example: false }
            tags:
                - Authentication
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                username:
                                    type: string
                                    description: 'Email address or phone number'
                                    example: aliquam
                                password:
                                    type: string
                                    description: Password
                                    example: maiores
                            required:
                                - username
                                - password
            security: []
    /api/v1/auth/verify:
        post:
            summary: 'Verify phone'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    token: { token_type: Bearer, expires_in: 31536000, access_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIyIiwianRpIjoiYzMzNTc2ZDYxNzM0M2ZlYmU2OTZkYjE1ZWMzYTRhNjE0ZGJjNGI4ZDQ4MDFjNTU5NmIwYTIyY2UyNTE3Mzg0MDQwNGUxNzM5YmE5NTNhYjAiLCJpYXQiOjE2MDcyODAzNzksIm5iZiI6MTYwNzI4MDM3OSwiZXhwIjoxNjM4ODE2Mzc5LCJzdWIiOiI5Iiwic2NvcGVzIjpbIioiXX0.lhYW5Fjl6TE4jhG8eNG6CxXAEBfl_FeSeCCytqfCK4OEwn2RkVBZMqgRTgAzeayuL_4GeN9rtDC-o4q2Mdutx5m1VKPrV0Jl9X-ec9moH9POfUZPI8a9pj7bANYfrrRy7_htNuIHCXVpUGhVdTqCxWk_iDOJZgxzgf5kf2wfLFZWoqMoEc8-hnuFpxo8Y4WHqEe7-RWDQK2CyVXyKKEVjPAI-yjnQ8Cq0Fw3it_-_3y62Jrd-htGEkC2FUdrDPEjc7YEy8EuJHmY21tKZxypHcKiO6F72nxJJwJyukE6Hx390BaIFsy3uoMaHoPjoNF11xqSffAPKahHeueiLapYTUTqjbZBRFotZ5Lo-2hcne_kcW4SqS6qCdlv-yPQsah5K0TymOSl9_kSLcMS6RhXW6mzdXKbLzYme723yv7d3QCxqnwB0emcuL1r_quIipP7_KVKHLqN1lGtA-j5r1qlA-OJjn0O8xBCgcC57Gu_5w1e60F441T4GJjEPtri6K22gVTBntgXfb-9rQe2GYrJOGs3ydcBWB8AZq1m5ZI8gymoSIzib4qBlQFUrdjOEPQDmHmTPvpuZs1X0XnKJTEZWpv-T0mdFNrZtVN0N5_pNBu2rioASLEOlffPGNM1v8z4fspPkn1JbW9m6WGiNggSzGjgYTRQXkw7gYuwNlOuTm0, refresh_token: def5020040ea60cf608169383b65234f02e65e41406e5a7c57d3f733b59053f8f08ecc3470acec16f4a17819bf45c01eac21e82aba35d305ee0f1b7cb8a4b268bf6942425529b75fc8714159f2bbb9f34d8e6deb378caa6b579f2aace3f1966fd48d329a8dc0a68683ed2ac139d38240807fc2814fc4b2864412f357421cd694c6ddac842e44021ec02c164b198406ee6dddbeca7bb07a2d0ef334ef6c4171c65e36dbcb119726d0b6b7a89f5c53d4d6dff75b75aabe1ef860c1b62a41a3b8d0b9252792db63b36fc1952afc007a6684b0e9db5fd1575c2408343123a4bbc4737c39343775cd900d28da406037e0fc1d72636abe29490cda56771c1038cbb4dc3ff3a01dcd7c354835c9b81c9376a88fbcf3f825a457902ca946514b5b83b8e7586e90bd807e2708536fba69cd46768a14056ba89376e8c5fca0666b6622268afb2190ad5793d3ac6eaca23c21e683721ff06c3e6576b27ad036f6d79c8f9371b263a02d }
                                    user: { id: 9, name: Hamedov, email: m.hamed@nezam.io, phone: '+201064931597', email_verified_at: null, status: Active, created_at: '2020-10-30T18:16:10.000000Z', updated_at: '2020-10-30T18:16:10.000000Z', role: [] }
                                properties:
                                    token: { type: object, example: { token_type: Bearer, expires_in: 31536000, access_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIyIiwianRpIjoiYzMzNTc2ZDYxNzM0M2ZlYmU2OTZkYjE1ZWMzYTRhNjE0ZGJjNGI4ZDQ4MDFjNTU5NmIwYTIyY2UyNTE3Mzg0MDQwNGUxNzM5YmE5NTNhYjAiLCJpYXQiOjE2MDcyODAzNzksIm5iZiI6MTYwNzI4MDM3OSwiZXhwIjoxNjM4ODE2Mzc5LCJzdWIiOiI5Iiwic2NvcGVzIjpbIioiXX0.lhYW5Fjl6TE4jhG8eNG6CxXAEBfl_FeSeCCytqfCK4OEwn2RkVBZMqgRTgAzeayuL_4GeN9rtDC-o4q2Mdutx5m1VKPrV0Jl9X-ec9moH9POfUZPI8a9pj7bANYfrrRy7_htNuIHCXVpUGhVdTqCxWk_iDOJZgxzgf5kf2wfLFZWoqMoEc8-hnuFpxo8Y4WHqEe7-RWDQK2CyVXyKKEVjPAI-yjnQ8Cq0Fw3it_-_3y62Jrd-htGEkC2FUdrDPEjc7YEy8EuJHmY21tKZxypHcKiO6F72nxJJwJyukE6Hx390BaIFsy3uoMaHoPjoNF11xqSffAPKahHeueiLapYTUTqjbZBRFotZ5Lo-2hcne_kcW4SqS6qCdlv-yPQsah5K0TymOSl9_kSLcMS6RhXW6mzdXKbLzYme723yv7d3QCxqnwB0emcuL1r_quIipP7_KVKHLqN1lGtA-j5r1qlA-OJjn0O8xBCgcC57Gu_5w1e60F441T4GJjEPtri6K22gVTBntgXfb-9rQe2GYrJOGs3ydcBWB8AZq1m5ZI8gymoSIzib4qBlQFUrdjOEPQDmHmTPvpuZs1X0XnKJTEZWpv-T0mdFNrZtVN0N5_pNBu2rioASLEOlffPGNM1v8z4fspPkn1JbW9m6WGiNggSzGjgYTRQXkw7gYuwNlOuTm0, refresh_token: def5020040ea60cf608169383b65234f02e65e41406e5a7c57d3f733b59053f8f08ecc3470acec16f4a17819bf45c01eac21e82aba35d305ee0f1b7cb8a4b268bf6942425529b75fc8714159f2bbb9f34d8e6deb378caa6b579f2aace3f1966fd48d329a8dc0a68683ed2ac139d38240807fc2814fc4b2864412f357421cd694c6ddac842e44021ec02c164b198406ee6dddbeca7bb07a2d0ef334ef6c4171c65e36dbcb119726d0b6b7a89f5c53d4d6dff75b75aabe1ef860c1b62a41a3b8d0b9252792db63b36fc1952afc007a6684b0e9db5fd1575c2408343123a4bbc4737c39343775cd900d28da406037e0fc1d72636abe29490cda56771c1038cbb4dc3ff3a01dcd7c354835c9b81c9376a88fbcf3f825a457902ca946514b5b83b8e7586e90bd807e2708536fba69cd46768a14056ba89376e8c5fca0666b6622268afb2190ad5793d3ac6eaca23c21e683721ff06c3e6576b27ad036f6d79c8f9371b263a02d } }
                                    user: { type: object, example: { id: 9, name: Hamedov, email: m.hamed@nezam.io, phone: '+201064931597', email_verified_at: null, status: Active, created_at: '2020-10-30T18:16:10.000000Z', updated_at: '2020-10-30T18:16:10.000000Z', role: [] } }
                422:
                    description: '422, Validation errors'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'The given data was invalid.'
                                    errors: { firstname: ['The firstname field is required.'], email: ['The email has already been taken.'], phone: ['The phone has already been taken.'] }
                                properties:
                                    message: { type: string, example: 'The given data was invalid.' }
                                    errors: { type: object, example: { firstname: ['The firstname field is required.'], email: ['The email has already been taken.'], phone: ['The phone has already been taken.'] } }
                404:
                    description: '404, Phone number not found'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n    \"message\": \"Not found message\",\n}"
                401:
                    description: '401, Verification failed'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'Invalid credentials'
                                properties:
                                    message: { type: string, example: 'Invalid credentials' }
            tags:
                - Authentication
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                phone:
                                    type: string
                                    description: 'Phone number'
                                    example: alias
                                firebase_jwt_token:
                                    type: Firebase
                                    description: 'jwt token (Required if otp is absent)'
                                    example: dolorum
                                otp:
                                    type: string
                                    description: 'Sinch otp (Required if firebase jwt token is absent)'
                                    example: sit
                            required:
                                - phone
            security: []
    /api/v1/auth/refresh_token:
        post:
            summary: 'Refresh access token'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    token_type: Bearer
                                    expires_in: 31536000
                                    access_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIyIiwianRpIjoiNTUxZDVkNzk1MjE3OWRmZDcxYzI3MmM5YTNlMDdmYzBkNTQ2MTBhMjFkOGU5MjIzYzgxOTU0YzIyMGY1OTAwOTkwNjBiNDNiZTA0OTBmMWEiLCJpYXQiOjE2MDcyODA1NDgsIm5iZiI6MTYwNzI4MDU0OCwiZXhwIjoxNjM4ODE2NTQ4LCJzdWIiOiI5Iiwic2NvcGVzIjpbIioiXX0.j9F5Y34t1uOHpnNkw8UwfvFumyQDhSf2vYJY4mLwWSfw-KeS7czQyBUiOQDK85JZUicVLGGG8kxwLkAUlJjq70ppJHhWkD9QOnpRxHJGU6BjIxDqlLGUXQpUhkjez51ji_TYhNSh4VSQ8Wb6jIi33AhwKCpSYy6R6MFZKB-y6wxXfnZNm3REUchFtDt-SkoFxBDEGR-ADwwRAw8T1KaVxXiy3d3EkcJnJbK0o9dwflMsC_CZW1vgplFfN3Q-2DdmvyvAQPu3OBTG98yCttzC_mkf1c2awB-q1QI4nmPtShPpDWqmgvvsEbZD7nLA9k067Bdjv9KhzvqFcssBvzWuActBWuBRSXkr6BLCzRbLFgFopDjVg556GH0bhNmq0gThMBdeE09HMfux5kq61y8H5nYdyoA9WJvaKNeTpJhyVGCEznYBlig4nmS7vpJheooOYTZEPgAA2ngo7AlKsJpwqkunExEi6-6efI_f_4NebW94TVoJvzacW4mfr_YL1yERcJtqgpzmjKIbuzs-BYpjo3UcjdvRDyPJ0Y_7N8cP1VgIJtKoC8KWvxtqEjCSRhcTpbpVgtB8jjdcH2JdnT7wAx2wTOJLAk-4DdtwkCQ4aX0dSykcN705741XBlgYM1Pdy65kiQ1mMiJ2EPWoBjEwQfteIjRMRKvM-380fbyfrCk
                                    refresh_token: def5020006420444a23f173a91bbd9981ebfae547206e3122d4d02fdb75a338eca6616385886df66d7508a774e685ec3784930da042983d93755eedfbf70af73286c87a6fedb3d8200afdf5c3625106cd4c18e75486f1a6d2edb5bfb4cc5d7007371559cdf47a7ce7767ed8617f84d0aa658fc6d26e13ea11704c42bdf08da56770c10f2febaf2857074a810875636f9fd36e46de1d0896bddda0641766b3c3ac6c9ccce59ceae48305af3df5803198adc5a4eac58fa64b387948182d9f8cbfb0a7b6e738c2077d83720aa52f9a86e5a84d8553206a0a2b5eae11c181c9654c501ec6c2615080a82f39ca4facb527fcf1df2594c1bf76fbbf702e0307de5a854c174e701c12c8653be69a0d1115331c20b14b262bf39c2d0d8d3f618f2bb1f7bfde74ad93609370f9a4a00e7cdb86d3c4c54a71efaec967d606e52416aa655cb6e1f10870da0a1e05c6f5e1b4663a9862f24a5b76fc808fdadd15f2d87afb07445085bee
                                properties:
                                    token_type: { type: string, example: Bearer }
                                    expires_in: { type: integer, example: 31536000 }
                                    access_token: { type: string, example: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIyIiwianRpIjoiNTUxZDVkNzk1MjE3OWRmZDcxYzI3MmM5YTNlMDdmYzBkNTQ2MTBhMjFkOGU5MjIzYzgxOTU0YzIyMGY1OTAwOTkwNjBiNDNiZTA0OTBmMWEiLCJpYXQiOjE2MDcyODA1NDgsIm5iZiI6MTYwNzI4MDU0OCwiZXhwIjoxNjM4ODE2NTQ4LCJzdWIiOiI5Iiwic2NvcGVzIjpbIioiXX0.j9F5Y34t1uOHpnNkw8UwfvFumyQDhSf2vYJY4mLwWSfw-KeS7czQyBUiOQDK85JZUicVLGGG8kxwLkAUlJjq70ppJHhWkD9QOnpRxHJGU6BjIxDqlLGUXQpUhkjez51ji_TYhNSh4VSQ8Wb6jIi33AhwKCpSYy6R6MFZKB-y6wxXfnZNm3REUchFtDt-SkoFxBDEGR-ADwwRAw8T1KaVxXiy3d3EkcJnJbK0o9dwflMsC_CZW1vgplFfN3Q-2DdmvyvAQPu3OBTG98yCttzC_mkf1c2awB-q1QI4nmPtShPpDWqmgvvsEbZD7nLA9k067Bdjv9KhzvqFcssBvzWuActBWuBRSXkr6BLCzRbLFgFopDjVg556GH0bhNmq0gThMBdeE09HMfux5kq61y8H5nYdyoA9WJvaKNeTpJhyVGCEznYBlig4nmS7vpJheooOYTZEPgAA2ngo7AlKsJpwqkunExEi6-6efI_f_4NebW94TVoJvzacW4mfr_YL1yERcJtqgpzmjKIbuzs-BYpjo3UcjdvRDyPJ0Y_7N8cP1VgIJtKoC8KWvxtqEjCSRhcTpbpVgtB8jjdcH2JdnT7wAx2wTOJLAk-4DdtwkCQ4aX0dSykcN705741XBlgYM1Pdy65kiQ1mMiJ2EPWoBjEwQfteIjRMRKvM-380fbyfrCk }
                                    refresh_token: { type: string, example: def5020006420444a23f173a91bbd9981ebfae547206e3122d4d02fdb75a338eca6616385886df66d7508a774e685ec3784930da042983d93755eedfbf70af73286c87a6fedb3d8200afdf5c3625106cd4c18e75486f1a6d2edb5bfb4cc5d7007371559cdf47a7ce7767ed8617f84d0aa658fc6d26e13ea11704c42bdf08da56770c10f2febaf2857074a810875636f9fd36e46de1d0896bddda0641766b3c3ac6c9ccce59ceae48305af3df5803198adc5a4eac58fa64b387948182d9f8cbfb0a7b6e738c2077d83720aa52f9a86e5a84d8553206a0a2b5eae11c181c9654c501ec6c2615080a82f39ca4facb527fcf1df2594c1bf76fbbf702e0307de5a854c174e701c12c8653be69a0d1115331c20b14b262bf39c2d0d8d3f618f2bb1f7bfde74ad93609370f9a4a00e7cdb86d3c4c54a71efaec967d606e52416aa655cb6e1f10870da0a1e05c6f5e1b4663a9862f24a5b76fc808fdadd15f2d87afb07445085bee }
                422:
                    description: '422, Validation errors'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'The given data was invalid.'
                                    errors: { firstname: ['The firstname field is required.'], email: ['The email has already been taken.'], phone: ['The phone has already been taken.'] }
                                properties:
                                    message: { type: string, example: 'The given data was invalid.' }
                                    errors: { type: object, example: { firstname: ['The firstname field is required.'], email: ['The email has already been taken.'], phone: ['The phone has already been taken.'] } }
                401:
                    description: '401, Invalid refresh token'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'Invalid credentials'
                                properties:
                                    message: { type: string, example: 'Invalid credentials' }
            tags:
                - Authentication
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                refresh_token:
                                    type: string
                                    description: 'Refersh token obtained during login'
                                    example: molestiae
                            required:
                                - refresh_token
            security: []
    /api/v1/auth/send-otp:
        post:
            summary: 'Send otp'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses: {  }
            tags:
                - Authentication
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                phone:
                                    type: string
                                    description: 'Phone number'
                                    example: atque
                            required:
                                - phone
            security: []
    /api/v1/auth/check-phone:
        post:
            summary: 'Check if phone or email exists.'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses: {  }
            tags:
                - Authentication
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                phone:
                                    type: string
                                    description: 'Phone number'
                                    example: voluptatem
                            required:
                                - phone
            security: []
    /api/v1/auth/verify-otp:
        post:
            summary: 'Verify otp'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses: {  }
            tags:
                - Authentication
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                phone:
                                    type: string
                                    description: 'Phone number'
                                    example: inventore
                                otp:
                                    type: string
                                    description: 'Otp from sms'
                                    example: tempora
                            required:
                                - phone
                                - otp
            security: []
    /api/v1/auth/logout:
        delete:
            summary: Logout
            description: ''
            parameters:
                -
                    in: header
                    name: Authorization
                    description: ''
                    example: 'Bearer {YOUR_AUTH_KEY}'
                    schema:
                        type: string
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    type: object
                                example: []
                401:
                    description: '401, Unauthorized'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: Unauthenticated.
                                properties:
                                    message: { type: string, example: Unauthenticated. }
            tags:
                - Authentication
    /api/v1/auth/user:
        get:
            summary: 'Get logged in user'
            description: ''
            parameters:
                -
                    in: header
                    name: Authorization
                    description: ''
                    example: 'Bearer {YOUR_AUTH_KEY}'
                    schema:
                        type: string
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    id: 9
                                    name: Hamedov
                                    email: m.hamed@nezam.io
                                    phone: '+201064931597'
                                    email_verified_at: null
                                    status: Active
                                    created_at: '2020-10-30T18:16:10.000000Z'
                                    updated_at: '2020-10-30T18:16:10.000000Z'
                                    role: [patient, doctor, manager]
                                    profile: { id: 5, user_id: 9, firstname: Mohamed, lastname: Hamed, gender: Male, birth_date: null, about: 'About me', settings: null, created_at: '2020-10-30T18:16:10.000000Z', updated_at: '2020-10-30T18:16:10.000000Z', photo: { id: 10, uuid: a07ba900-1a20-4a3a-a25b-6afacfcc83f0, name: 95440227_3064329763793493_6993060236609191936_n, file_name: 95440227_3064329763793493_6993060236609191936_n.jpg, mime_type: image/jpeg, size: 10275, order_column: 8, created_at: '2020-10-30T18:16:10.000000Z', updated_at: '2020-10-30T18:16:10.000000Z', url: 'http://cosmo.test/storage/10/95440227_3064329763793493_6993060236609191936_n.jpg', large: 'http://cosmo.test/storage/10/conversions/95440227_3064329763793493_6993060236609191936_n-large.jpg', medium: 'http://cosmo.test/storage/10/conversions/95440227_3064329763793493_6993060236609191936_n-medium.jpg', small: 'http://cosmo.test/storage/10/conversions/95440227_3064329763793493_6993060236609191936_n-small.jpg', collection: avatars } }
                                properties:
                                    id: { type: integer, example: 9 }
                                    name: { type: string, example: Hamedov }
                                    email: { type: string, example: m.hamed@nezam.io }
                                    phone: { type: string, example: '+201064931597' }
                                    email_verified_at: { type: string, example: null }
                                    status: { type: string, example: Active }
                                    created_at: { type: string, example: '2020-10-30T18:16:10.000000Z' }
                                    updated_at: { type: string, example: '2020-10-30T18:16:10.000000Z' }
                                    role: { type: array, example: [patient, doctor, manager], items: { type: string } }
                                    profile: { type: object, example: { id: 5, user_id: 9, firstname: Mohamed, lastname: Hamed, gender: Male, birth_date: null, about: 'About me', settings: null, created_at: '2020-10-30T18:16:10.000000Z', updated_at: '2020-10-30T18:16:10.000000Z', photo: { id: 10, uuid: a07ba900-1a20-4a3a-a25b-6afacfcc83f0, name: 95440227_3064329763793493_6993060236609191936_n, file_name: 95440227_3064329763793493_6993060236609191936_n.jpg, mime_type: image/jpeg, size: 10275, order_column: 8, created_at: '2020-10-30T18:16:10.000000Z', updated_at: '2020-10-30T18:16:10.000000Z', url: 'http://cosmo.test/storage/10/95440227_3064329763793493_6993060236609191936_n.jpg', large: 'http://cosmo.test/storage/10/conversions/95440227_3064329763793493_6993060236609191936_n-large.jpg', medium: 'http://cosmo.test/storage/10/conversions/95440227_3064329763793493_6993060236609191936_n-medium.jpg', small: 'http://cosmo.test/storage/10/conversions/95440227_3064329763793493_6993060236609191936_n-small.jpg', collection: avatars } } }
                401:
                    description: '401, Unauthorized'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: Unauthenticated.
                                properties:
                                    message: { type: string, example: Unauthenticated. }
            tags:
                - Authentication
    /api/v1/messaging/conversations:
        get:
            summary: 'Get conversations'
            description: ''
            parameters:
                -
                    in: query
                    name: product_id
                    description: 'Fetch Filter conversations by product.'
                    example: ut
                    required: false
                    schema:
                        type: string
                        description: 'Fetch Filter conversations by product.'
                        example: ut
                -
                    in: query
                    name: vendor_id
                    description: 'Required to fetch conversations for vendor app.'
                    example: aliquam
                    required: false
                    schema:
                        type: string
                        description: 'Required to fetch conversations for vendor app.'
                        example: aliquam
                -
                    in: query
                    name: page
                    description: 'Page number for pagination'
                    example: 2
                    required: false
                    schema:
                        type: integer
                        description: 'Page number for pagination'
                        example: 2
                -
                    in: query
                    name: perPage
                    description: 'Results to fetch per page'
                    example: 15
                    required: false
                    schema:
                        type: integer
                        description: 'Results to fetch per page'
                        example: 15
                -
                    in: header
                    name: Authorization
                    description: ''
                    example: 'Bearer {YOUR_AUTH_KEY}'
                    schema:
                        type: string
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200, Get vendor conversations'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    current_page: 1
                                    data: [{ id: 1, name: null, product: { id: 10, vendor_id: 1, title: 'Good product', description: '<p>ljafdljk alskdjf lkasjdflkjfsa</p>', price: '2000.00', status: Published, review: Approved, type: product, terms: '<p>Hello world</p>', deleted_at: null, created_at: '2021-01-08T13:40:54.000000Z', updated_at: '2021-01-08T13:40:54.000000Z', category_ids: [], address_ids: [], likes_count: 0, is_liked: false }, other_party: { id: 9, type: user, participant_id: 1, name: Hamedov, photo: { id: 10, uuid: a07ba900-1a20-4a3a-a25b-6afacfcc83f0, name: 95440227_3064329763793493_6993060236609191936_n, file_name: 95440227_3064329763793493_6993060236609191936_n.jpg, mime_type: image/jpeg, size: 10275, order_column: 8, created_at: '2020-10-30T18:16:10.000000Z', updated_at: '2020-10-30T18:16:10.000000Z', laravel_through_key: 9, url: 'http://cosmo.test/storage/10/95440227_3064329763793493_6993060236609191936_n.jpg', large: 'http://cosmo.test/storage/10/conversions/95440227_3064329763793493_6993060236609191936_n-large.jpg', medium: 'http://cosmo.test/storage/10/conversions/95440227_3064329763793493_6993060236609191936_n-medium.jpg', small: 'http://cosmo.test/storage/10/conversions/95440227_3064329763793493_6993060236609191936_n-small.jpg', collection: avatars } }, last_message: { id: 7, participant_id: 2, message: 'How much is this service?', type: text, created_at: '2021-02-24T00:23:32.000000Z' }, has_new_messages: false }]
                                    first_page_url: 'http://cosmo.test/api/v1/messaging/conversations?page=1'
                                    from: 1
                                    last_page: 1
                                    last_page_url: 'http://cosmo.test/api/v1/messaging/conversations?page=1'
                                    links: [{ url: null, label: '&laquo; Previous', active: false }, { url: 'http://cosmo.test/api/v1/messaging/conversations?page=1', label: 1, active: true }, { url: null, label: 'Next &raquo;', active: false }]
                                    next_page_url: null
                                    path: 'http://cosmo.test/api/v1/messaging/conversations'
                                    per_page: 10
                                    prev_page_url: null
                                    to: 1
                                    total: 1
                                properties:
                                    current_page: { type: integer, example: 1 }
                                    data: { type: array, example: [{ id: 1, name: null, product: { id: 10, vendor_id: 1, title: 'Good product', description: '<p>ljafdljk alskdjf lkasjdflkjfsa</p>', price: '2000.00', status: Published, review: Approved, type: product, terms: '<p>Hello world</p>', deleted_at: null, created_at: '2021-01-08T13:40:54.000000Z', updated_at: '2021-01-08T13:40:54.000000Z', category_ids: [], address_ids: [], likes_count: 0, is_liked: false }, other_party: { id: 9, type: user, participant_id: 1, name: Hamedov, photo: { id: 10, uuid: a07ba900-1a20-4a3a-a25b-6afacfcc83f0, name: 95440227_3064329763793493_6993060236609191936_n, file_name: 95440227_3064329763793493_6993060236609191936_n.jpg, mime_type: image/jpeg, size: 10275, order_column: 8, created_at: '2020-10-30T18:16:10.000000Z', updated_at: '2020-10-30T18:16:10.000000Z', laravel_through_key: 9, url: 'http://cosmo.test/storage/10/95440227_3064329763793493_6993060236609191936_n.jpg', large: 'http://cosmo.test/storage/10/conversions/95440227_3064329763793493_6993060236609191936_n-large.jpg', medium: 'http://cosmo.test/storage/10/conversions/95440227_3064329763793493_6993060236609191936_n-medium.jpg', small: 'http://cosmo.test/storage/10/conversions/95440227_3064329763793493_6993060236609191936_n-small.jpg', collection: avatars } }, last_message: { id: 7, participant_id: 2, message: 'How much is this service?', type: text, created_at: '2021-02-24T00:23:32.000000Z' }, has_new_messages: false }], items: { type: object } }
                                    first_page_url: { type: string, example: 'http://cosmo.test/api/v1/messaging/conversations?page=1' }
                                    from: { type: integer, example: 1 }
                                    last_page: { type: integer, example: 1 }
                                    last_page_url: { type: string, example: 'http://cosmo.test/api/v1/messaging/conversations?page=1' }
                                    links: { type: array, example: [{ url: null, label: '&laquo; Previous', active: false }, { url: 'http://cosmo.test/api/v1/messaging/conversations?page=1', label: 1, active: true }, { url: null, label: 'Next &raquo;', active: false }], items: { type: object } }
                                    next_page_url: { type: string, example: null }
                                    path: { type: string, example: 'http://cosmo.test/api/v1/messaging/conversations' }
                                    per_page: { type: integer, example: 10 }
                                    prev_page_url: { type: string, example: null }
                                    to: { type: integer, example: 1 }
                                    total: { type: integer, example: 1 }
                401:
                    description: '401, Unauthenticated'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: Unauthenticated.
                                properties:
                                    message: { type: string, example: Unauthenticated. }
                404:
                    description: '404, For vendor app when provided vendor_id is invalid'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n    \"message\": \"Not found message\",\n}"
                422:
                    description: '422, Validation errors'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'The given data was invalid.'
                                    errors: { firstname: ['The firstname field is required.'], email: ['The email has already been taken.'], phone: ['The phone has already been taken.'] }
                                properties:
                                    message: { type: string, example: 'The given data was invalid.' }
                                    errors: { type: object, example: { firstname: ['The firstname field is required.'], email: ['The email has already been taken.'], phone: ['The phone has already been taken.'] } }
            tags:
                - Chat
    /api/v1/messaging/messages:
        get:
            summary: 'Get conversation messages'
            description: ''
            parameters:
                -
                    in: query
                    name: conversation_id
                    description: 'Conversation id to fetch messages for.'
                    example: veritatis
                    required: true
                    schema:
                        type: string
                        description: 'Conversation id to fetch messages for.'
                        example: veritatis
                -
                    in: query
                    name: vendor_id
                    description: 'Required to fetch messages for vendor app.'
                    example: ducimus
                    required: false
                    schema:
                        type: string
                        description: 'Required to fetch messages for vendor app.'
                        example: ducimus
                -
                    in: query
                    name: page
                    description: 'Page number for pagination'
                    example: 2
                    required: false
                    schema:
                        type: integer
                        description: 'Page number for pagination'
                        example: 2
                -
                    in: query
                    name: perPage
                    description: 'Results per page'
                    example: 15
                    required: false
                    schema:
                        type: integer
                        description: 'Results per page'
                        example: 15
                -
                    in: header
                    name: Authorization
                    description: ''
                    example: 'Bearer {YOUR_AUTH_KEY}'
                    schema:
                        type: string
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    current_page: 1
                                    data: [{ id: 7, conversation_id: 1, participant_id: 2, message: 'How much is this service?', read_by: '{}', type: text, created_at: '2021-02-24T00:23:32.000000Z', updated_at: '2021-02-24T00:23:32.000000Z', participant: { id: 2, conversation_id: 1, messageable_type: vendor, messageable_id: 1, is_admin: '0', status: active, last_read: '2021-02-23T22:24:07.000000Z', created_at: '2021-02-23T22:24:07.000000Z', updated_at: '2021-02-23T22:24:07.000000Z', messageable: { id: 1, name: 'Big Hospital', email: big@hospital.com, phone: '+201064931597', about: '<p>About this vendor</p>', status: '1', verified: true, deleted_at: null, whatsapp: '+2010569856', twitter: 'https://www.twitter.com', instagram: 'https://www.instagram.com', created_at: '2020-10-31T17:14:36.000000Z', updated_at: '2021-01-01T15:07:52.000000Z', type: 1, working_days: null, working_hours: null, specialty_ids: [], likes_count: 0, is_liked: false, views_count: 0, shares_count: 0, photo: { id: 11, uuid: dd0569b3-512f-4756-a159-a8baa971323f, name: 5c29479e6ed37-bpthumb, file_name: 5c29479e6ed37-bpthumb.png, mime_type: image/png, size: 30815, order_column: 9, created_at: '2020-10-31T18:01:30.000000Z', updated_at: '2020-10-31T18:01:31.000000Z', url: 'http://cosmo.test/storage/11/5c29479e6ed37-bpthumb.png', large: 'http://cosmo.test/storage/11/conversions/5c29479e6ed37-bpthumb-large.jpg', medium: 'http://cosmo.test/storage/11/conversions/5c29479e6ed37-bpthumb-medium.jpg', small: 'http://cosmo.test/storage/11/conversions/5c29479e6ed37-bpthumb-small.jpg', collection: logos } } }, media: [] }, { id: 1, conversation_id: 1, participant_id: 1, message: 'How much is this service?', read_by: '{}', type: text, created_at: '2021-02-23T22:42:19.000000Z', updated_at: '2021-02-23T22:42:19.000000Z', participant: { id: 1, conversation_id: 1, messageable_type: user, messageable_id: 9, is_admin: '1', status: active, last_read: '2021-02-23T22:24:07.000000Z', created_at: '2021-02-23T22:24:07.000000Z', updated_at: '2021-02-23T22:24:07.000000Z', messageable: { id: 9, name: Hamedov, email: m.hamed@nezam.io, phone: '+201064931597', email_verified_at: null, status: Active, created_at: '2020-10-30T18:16:10.000000Z', updated_at: '2021-01-21T21:07:36.000000Z', phone_verified_at: '2021-01-21 20:22:46', role: [], photo: { id: 10, uuid: a07ba900-1a20-4a3a-a25b-6afacfcc83f0, name: 95440227_3064329763793493_6993060236609191936_n, file_name: 95440227_3064329763793493_6993060236609191936_n.jpg, mime_type: image/jpeg, size: 10275, order_column: 8, created_at: '2020-10-30T18:16:10.000000Z', updated_at: '2020-10-30T18:16:10.000000Z', laravel_through_key: 9, url: 'http://cosmo.test/storage/10/95440227_3064329763793493_6993060236609191936_n.jpg', large: 'http://cosmo.test/storage/10/conversions/95440227_3064329763793493_6993060236609191936_n-large.jpg', medium: 'http://cosmo.test/storage/10/conversions/95440227_3064329763793493_6993060236609191936_n-medium.jpg', small: 'http://cosmo.test/storage/10/conversions/95440227_3064329763793493_6993060236609191936_n-small.jpg', collection: avatars } } }, media: [] }]
                                    first_page_url: 'http://cosmo.test/api/v1/messaging/messages?page=1'
                                    from: 1
                                    last_page: 1
                                    last_page_url: 'http://cosmo.test/api/v1/messaging/messages?page=1'
                                    links: [{ url: null, label: '&laquo; Previous', active: false }, { url: 'http://cosmo.test/api/v1/messaging/messages?page=1', label: 1, active: true }, { url: null, label: 'Next &raquo;', active: false }]
                                    next_page_url: null
                                    path: 'http://cosmo.test/api/v1/messaging/messages'
                                    per_page: 15
                                    prev_page_url: null
                                    to: 2
                                    total: 2
                                properties:
                                    current_page: { type: integer, example: 1 }
                                    data: { type: array, example: [{ id: 7, conversation_id: 1, participant_id: 2, message: 'How much is this service?', read_by: '{}', type: text, created_at: '2021-02-24T00:23:32.000000Z', updated_at: '2021-02-24T00:23:32.000000Z', participant: { id: 2, conversation_id: 1, messageable_type: vendor, messageable_id: 1, is_admin: '0', status: active, last_read: '2021-02-23T22:24:07.000000Z', created_at: '2021-02-23T22:24:07.000000Z', updated_at: '2021-02-23T22:24:07.000000Z', messageable: { id: 1, name: 'Big Hospital', email: big@hospital.com, phone: '+201064931597', about: '<p>About this vendor</p>', status: '1', verified: true, deleted_at: null, whatsapp: '+2010569856', twitter: 'https://www.twitter.com', instagram: 'https://www.instagram.com', created_at: '2020-10-31T17:14:36.000000Z', updated_at: '2021-01-01T15:07:52.000000Z', type: 1, working_days: null, working_hours: null, specialty_ids: [], likes_count: 0, is_liked: false, views_count: 0, shares_count: 0, photo: { id: 11, uuid: dd0569b3-512f-4756-a159-a8baa971323f, name: 5c29479e6ed37-bpthumb, file_name: 5c29479e6ed37-bpthumb.png, mime_type: image/png, size: 30815, order_column: 9, created_at: '2020-10-31T18:01:30.000000Z', updated_at: '2020-10-31T18:01:31.000000Z', url: 'http://cosmo.test/storage/11/5c29479e6ed37-bpthumb.png', large: 'http://cosmo.test/storage/11/conversions/5c29479e6ed37-bpthumb-large.jpg', medium: 'http://cosmo.test/storage/11/conversions/5c29479e6ed37-bpthumb-medium.jpg', small: 'http://cosmo.test/storage/11/conversions/5c29479e6ed37-bpthumb-small.jpg', collection: logos } } }, media: [] }, { id: 1, conversation_id: 1, participant_id: 1, message: 'How much is this service?', read_by: '{}', type: text, created_at: '2021-02-23T22:42:19.000000Z', updated_at: '2021-02-23T22:42:19.000000Z', participant: { id: 1, conversation_id: 1, messageable_type: user, messageable_id: 9, is_admin: '1', status: active, last_read: '2021-02-23T22:24:07.000000Z', created_at: '2021-02-23T22:24:07.000000Z', updated_at: '2021-02-23T22:24:07.000000Z', messageable: { id: 9, name: Hamedov, email: m.hamed@nezam.io, phone: '+201064931597', email_verified_at: null, status: Active, created_at: '2020-10-30T18:16:10.000000Z', updated_at: '2021-01-21T21:07:36.000000Z', phone_verified_at: '2021-01-21 20:22:46', role: [], photo: { id: 10, uuid: a07ba900-1a20-4a3a-a25b-6afacfcc83f0, name: 95440227_3064329763793493_6993060236609191936_n, file_name: 95440227_3064329763793493_6993060236609191936_n.jpg, mime_type: image/jpeg, size: 10275, order_column: 8, created_at: '2020-10-30T18:16:10.000000Z', updated_at: '2020-10-30T18:16:10.000000Z', laravel_through_key: 9, url: 'http://cosmo.test/storage/10/95440227_3064329763793493_6993060236609191936_n.jpg', large: 'http://cosmo.test/storage/10/conversions/95440227_3064329763793493_6993060236609191936_n-large.jpg', medium: 'http://cosmo.test/storage/10/conversions/95440227_3064329763793493_6993060236609191936_n-medium.jpg', small: 'http://cosmo.test/storage/10/conversions/95440227_3064329763793493_6993060236609191936_n-small.jpg', collection: avatars } } }, media: [] }], items: { type: object } }
                                    first_page_url: { type: string, example: 'http://cosmo.test/api/v1/messaging/messages?page=1' }
                                    from: { type: integer, example: 1 }
                                    last_page: { type: integer, example: 1 }
                                    last_page_url: { type: string, example: 'http://cosmo.test/api/v1/messaging/messages?page=1' }
                                    links: { type: array, example: [{ url: null, label: '&laquo; Previous', active: false }, { url: 'http://cosmo.test/api/v1/messaging/messages?page=1', label: 1, active: true }, { url: null, label: 'Next &raquo;', active: false }], items: { type: object } }
                                    next_page_url: { type: string, example: null }
                                    path: { type: string, example: 'http://cosmo.test/api/v1/messaging/messages' }
                                    per_page: { type: integer, example: 15 }
                                    prev_page_url: { type: string, example: null }
                                    to: { type: integer, example: 2 }
                                    total: { type: integer, example: 2 }
                401:
                    description: '401, Unauthenticated'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: Unauthenticated.
                                properties:
                                    message: { type: string, example: Unauthenticated. }
                404:
                    description: '404, Conversation not found or for vendor app when provided vendor_id is invalid'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n    \"message\": \"Not found message\",\n}"
                422:
                    description: '422, Validation errors'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'The given data was invalid.'
                                    errors: { firstname: ['The firstname field is required.'], email: ['The email has already been taken.'], phone: ['The phone has already been taken.'] }
                                properties:
                                    message: { type: string, example: 'The given data was invalid.' }
                                    errors: { type: object, example: { firstname: ['The firstname field is required.'], email: ['The email has already been taken.'], phone: ['The phone has already been taken.'] } }
            tags:
                - Chat
    '/api/v1/messaging/conversations/{id}/mark_as_read':
        patch:
            summary: 'Mark conversation as read'
            description: ''
            parameters:
                -
                    in: query
                    name: vendor_id
                    description: 'Required for vendor app.'
                    example: modi
                    required: false
                    schema:
                        type: string
                        description: 'Required for vendor app.'
                        example: modi
                -
                    in: header
                    name: Authorization
                    description: ''
                    example: 'Bearer {YOUR_AUTH_KEY}'
                    schema:
                        type: string
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    id: 1
                                    name: null
                                    relatable_type: product
                                    relatable_id: 10
                                    created_at: '2021-02-23T22:24:07.000000Z'
                                    updated_at: '2021-02-23T22:24:07.000000Z'
                                    pivot: { messageable_id: 9, conversation_id: 1, messageable_type: user }
                                properties:
                                    id: { type: integer, example: 1 }
                                    name: { type: string, example: null }
                                    relatable_type: { type: string, example: product }
                                    relatable_id: { type: integer, example: 10 }
                                    created_at: { type: string, example: '2021-02-23T22:24:07.000000Z' }
                                    updated_at: { type: string, example: '2021-02-23T22:24:07.000000Z' }
                                    pivot: { type: object, example: { messageable_id: 9, conversation_id: 1, messageable_type: user } }
                401:
                    description: '401, Unauthenticated'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: Unauthenticated.
                                properties:
                                    message: { type: string, example: Unauthenticated. }
                404:
                    description: '404, Conversation not found or for vendor app when provided vendor_id is invalid'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n    \"message\": \"Not found message\",\n}"
                422:
                    description: '422, Validation errors'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'The given data was invalid.'
                                    errors: { firstname: ['The firstname field is required.'], email: ['The email has already been taken.'], phone: ['The phone has already been taken.'] }
                                properties:
                                    message: { type: string, example: 'The given data was invalid.' }
                                    errors: { type: object, example: { firstname: ['The firstname field is required.'], email: ['The email has already been taken.'], phone: ['The phone has already been taken.'] } }
            tags:
                - Chat
        parameters:
            -
                in: path
                name: id
                description: ''
                example: nemo
                required: true
                schema:
                    type: string
            -
                in: path
                name: conversation_id
                description: 'Conversation to mark as read.'
                example: ea
                required: true
                schema:
                    type: string
    /api/v1/messaging:
        post:
            summary: 'Send message'
            description: ''
            parameters:
                -
                    in: header
                    name: Authorization
                    description: ''
                    example: 'Bearer {YOUR_AUTH_KEY}'
                    schema:
                        type: string
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept-Language
                    description: ''
                    example: en
                    schema:
                        type: string
            responses:
                200:
                    description: '200, Send message as vendor'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    conversation_id: 1
                                    message: 'How much is this service?'
                                    type: text
                                    read_by: '{}'
                                    participant_id: 2
                                    updated_at: '2021-02-24T00:23:32.000000Z'
                                    created_at: '2021-02-24T00:23:32.000000Z'
                                    id: 7
                                    participant: { id: 2, conversation_id: 1, messageable_type: vendor, messageable_id: 1, is_admin: '0', status: active, last_read: '2021-02-23T22:24:07.000000Z', created_at: '2021-02-23T22:24:07.000000Z', updated_at: '2021-02-23T22:24:07.000000Z', messageable: { id: 1, name: 'Big Hospital', email: big@hospital.com, phone: '+201064931597', about: '<p>About this vendor</p>', status: '1', verified: true, deleted_at: null, whatsapp: '+2010569856', twitter: 'https://www.twitter.com', instagram: 'https://www.instagram.com', created_at: '2020-10-31T17:14:36.000000Z', updated_at: '2021-01-01T15:07:52.000000Z', type: 1, working_days: null, working_hours: null, specialty_ids: [], likes_count: 0, is_liked: false, views_count: 0, shares_count: 0, photo: { id: 11, uuid: dd0569b3-512f-4756-a159-a8baa971323f, name: 5c29479e6ed37-bpthumb, file_name: 5c29479e6ed37-bpthumb.png, mime_type: image/png, size: 30815, order_column: 9, created_at: '2020-10-31T18:01:30.000000Z', updated_at: '2020-10-31T18:01:31.000000Z', url: 'http://cosmo.test/storage/11/5c29479e6ed37-bpthumb.png', large: 'http://cosmo.test/storage/11/conversions/5c29479e6ed37-bpthumb-large.jpg', medium: 'http://cosmo.test/storage/11/conversions/5c29479e6ed37-bpthumb-medium.jpg', small: 'http://cosmo.test/storage/11/conversions/5c29479e6ed37-bpthumb-small.jpg', collection: logos } } }
                                    media: []
                                properties:
                                    conversation_id: { type: integer, example: 1 }
                                    message: { type: string, example: 'How much is this service?' }
                                    type: { type: string, example: text }
                                    read_by: { type: string, example: '{}' }
                                    participant_id: { type: integer, example: 2 }
                                    updated_at: { type: string, example: '2021-02-24T00:23:32.000000Z' }
                                    created_at: { type: string, example: '2021-02-24T00:23:32.000000Z' }
                                    id: { type: integer, example: 7 }
                                    participant: { type: object, example: { id: 2, conversation_id: 1, messageable_type: vendor, messageable_id: 1, is_admin: '0', status: active, last_read: '2021-02-23T22:24:07.000000Z', created_at: '2021-02-23T22:24:07.000000Z', updated_at: '2021-02-23T22:24:07.000000Z', messageable: { id: 1, name: 'Big Hospital', email: big@hospital.com, phone: '+201064931597', about: '<p>About this vendor</p>', status: '1', verified: true, deleted_at: null, whatsapp: '+2010569856', twitter: 'https://www.twitter.com', instagram: 'https://www.instagram.com', created_at: '2020-10-31T17:14:36.000000Z', updated_at: '2021-01-01T15:07:52.000000Z', type: 1, working_days: null, working_hours: null, specialty_ids: [], likes_count: 0, is_liked: false, views_count: 0, shares_count: 0, photo: { id: 11, uuid: dd0569b3-512f-4756-a159-a8baa971323f, name: 5c29479e6ed37-bpthumb, file_name: 5c29479e6ed37-bpthumb.png, mime_type: image/png, size: 30815, order_column: 9, created_at: '2020-10-31T18:01:30.000000Z', updated_at: '2020-10-31T18:01:31.000000Z', url: 'http://cosmo.test/storage/11/5c29479e6ed37-bpthumb.png', large: 'http://cosmo.test/storage/11/conversions/5c29479e6ed37-bpthumb-large.jpg', medium: 'http://cosmo.test/storage/11/conversions/5c29479e6ed37-bpthumb-medium.jpg', small: 'http://cosmo.test/storage/11/conversions/5c29479e6ed37-bpthumb-small.jpg', collection: logos } } } }
                                    media: { type: array, example: [] }
                401:
                    description: '401, Unauthenticated'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: Unauthenticated.
                                properties:
                                    message: { type: string, example: Unauthenticated. }
                404:
                    description: '404, For vendor app when provided vendor_id is invalid'
                    content:
                        text/plain:
                            schema:
                                type: string
                                example: "{\n    \"message\": \"Not found message\",\n}"
                422:
                    description: '422, Validation errors'
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    message: 'The given data was invalid.'
                                    errors: { firstname: ['The firstname field is required.'], email: ['The email has already been taken.'], phone: ['The phone has already been taken.'] }
                                properties:
                                    message: { type: string, example: 'The given data was invalid.' }
                                    errors: { type: object, example: { firstname: ['The firstname field is required.'], email: ['The email has already been taken.'], phone: ['The phone has already been taken.'] } }
            tags:
                - Chat
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                product_id:
                                    type: integer
                                    description: 'Product id, required if `conversation_id` is absent'
                                    example: 12
                                message:
                                    type: string
                                    description: 'The message can be a string, image, array of images.'
                                    example: aperiam
                                conversation_id:
                                    type: integer
                                    description: 'Conversation id, required if `product_id` is absent'
                                    example: 11
                                vendor_id:
                                    type: integer
                                    description: 'Vendor id, required for vendor app.'
                                    example: 9
                            required:
                                - message
    /api/v1/posts:
        get:
            summary: 'Posts list'
            description: ''
            parameters:
                -
                    in: query
                    name: category_id
                    description: 'Get Posts for specific user.'
                    example: 1
                    required: false
                    schema:
                        type: integer
                        description: 'Get Posts for specific user.'
                        example: 1
                -
                    in: query
                    name: page
                    description: 'Page number for pagination'
                    example: 1
                    required: false
                    schema:
                        type: integer
                        description: 'Page number for pagination'
                        example: 1
                -
                    in: query
                    name: perPage
                    description: 'Results to fetch per page'
                    example: 15
                    required: false
                    schema:
                        type: integer
                        description: 'Results to fetch per page'
                        example: 15
                -
                    in: query
                    name: keyword
                    description: 'Search posts.'
                    example: Liver
                    required: false
                    schema:
                        type: string
                        description: 'Search posts.'
                        example: Liver
                -
                    in: query
                    name: most_viewed
                    description: 'Order posts by views.'
                    example: iure
                    required: false
                    schema:
                        type: string
                        description: 'Order posts by views.'
                        example: iure
                -
                    in: query
                    name: most_liked
                    description: 'Order posts by likes.'
                    example: est
                    required: false
                    schema:
                        type: string
                        description: 'Order posts by likes.'
                        example: est
                -
                    in: query
                    name: sort
                    description: 'Field used to sort results (created_at).'
                    example: created_at
                    required: false
                    schema:
                        type: string
                        description: 'Field used to sort results (created_at).'
                        example: created_at
                -
[...]
